@import "tailwindcss";

body {
  background: #0a192f;
  overflow: hidden;
}

/* ---- SF Mono Font Configuration ---- */
/* Regular */
@font-face {
  font-family: "SF Mono";
  src: url("/fonts/SFMono/SFMono-Regular.woff2") format("woff2"),
    url("/fonts/SFMono/SFMono-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Regular Italic */
@font-face {
  font-family: "SF Mono";
  src: url("/fonts/SFMono/SFMono-RegularItalic.woff2") format("woff2"),
    url("/fonts/SFMono/SFMono-RegularItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Medium */
@font-face {
  font-family: "SF Mono";
  src: url("/fonts/SFMono/SFMono-Medium.woff2") format("woff2"),
    url("/fonts/SFMono/SFMono-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Medium Italic */
@font-face {
  font-family: "SF Mono";
  src: url("/fonts/SFMono/SFMono-MediumItalic.woff2") format("woff2"),
    url("/fonts/SFMono/SFMono-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* Semibold */
@font-face {
  font-family: "SF Mono";
  src: url("/fonts/SFMono/SFMono-Semibold.woff2") format("woff2"),
    url("/fonts/SFMono/SFMono-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Semibold Italic */
@font-face {
  font-family: "SF Mono";
  src: url("/fonts/SFMono/SFMono-SemiboldItalic.woff2") format("woff2"),
    url("/fonts/SFMono/SFMono-SemiboldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}


/* ---- Calibre Font Configuration ---- */
/* Light */
@font-face {
  font-family: "Calibre";
  src: url("/fonts/Calibre/Calibre-Light.woff2") format("woff2"),
    url("/fonts/Calibre/Calibre-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Light Italic */
@font-face {
  font-family: "Calibre";
  src: url("/fonts/Calibre/Calibre-LightItalic.woff2") format("woff2"),
    url("/fonts/Calibre/Calibre-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* Regular */
@font-face {
  font-family: "Calibre";
  src: url("/fonts/Calibre/Calibre-Regular.woff2") format("woff2"),
    url("/fonts/Calibre/Calibre-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Regular Italic */
@font-face {
  font-family: "Calibre";
  src: url("/fonts/Calibre/Calibre-RegularItalic.woff2") format("woff2"),
    url("/fonts/Calibre/Calibre-RegularItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Medium */
@font-face {
  font-family: "Calibre";
  src: url("/fonts/Calibre/Calibre-Medium.woff2") format("woff2"),
    url("/fonts/Calibre/Calibre-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Medium Italic */
@font-face {
  font-family: "Calibre";
  src: url("/fonts/Calibre/Calibre-MediumItalic.woff2") format("woff2"),
    url("/fonts/Calibre/Calibre-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* Semibold */
@font-face {
  font-family: "Calibre";
  src: url("/fonts/Calibre/Calibre-Semibold.woff2") format("woff2"),
    url("/fonts/Calibre/Calibre-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Semibold Italic */
@font-face {
  font-family: "Calibre";
  src: url("/fonts/Calibre/Calibre-SemiboldItalic.woff2") format("woff2"),
    url("/fonts/Calibre/Calibre-SemiboldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

/* Custom Tailwind Classes */
@theme {
  --font-mono: "SF Mono", monospace;
  --font-calibre: "Calibre", sans-serif;
  --animate-cross-spin-forward: crossSpinForward 0.19s cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
  --animate-cross-spin-backward: crossSpinBackward 0.19s cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
  --animate-menu-collapse: menuCollapse 0.1s cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
  --animate-menu-open: menuOpen 0.1s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s forwards;
}

@keyframes menuCollapse {
  0% {
    row-gap: 8px;
  }

  100% {
    row-gap: 0;
  }
}

@keyframes menuOpen {
  0% {

    row-gap: 0;
  }

  100% {
    row-gap: 8px;
  }
}

@keyframes crossSpinForward {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(90deg);
  }
}

@keyframes crossSpinBackward {
  0% {
    transform: rotate(90deg);
  }

  100% {
    transform: rotate(0);
  }
}